* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}
body {
    background-color: #fff;
}

/* Navigation bar */
.navbar{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #607b7d;
    color: #fff
}
.logo {
    font-size: 32px;
}
.navbar a {
    color: #fff;
    text-decoration: none;
}
.menu {
    display: flex; 
    gap: 1em; 
    font-size: 18px; 
}
.menu li {
    padding: 5px 10px; 
    list-style: none;
}
.menu li:hover {
    background-color: #3a606e;
    border-radius: 5px;
    transition: 0.3s ease; 
}

/* Content */
.container {
    display:flex;
    grid-template-columns: 1fr 2fr;
    background-color: #e0e0e0;

    max-width: 1000px;
    min-height: 30px;
    max-height: 1000px;
    margin: 10px 0;

}
/* Left (Green) container */
.leftSide {
    background-color: #828e82;
    padding: 10px;
}
.leftSide .img {
    border-radius: 50%;
    overflow: hidden;
    width: 200px; 
    height: 200px;
}
.leftSide .text {
    text-align: center;
    color: #fff;
}

/* Right (Light yellow) container */
.rightSide {
    background-color: #e0e0e0;
    padding: 10px;
}

/* Footer */
.footer {
    padding: 10px;
}
.footer li {
    list-style: none;
}
