* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
body {
    background-color: #fff;
}

/* Navigation bar */
.navbar{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    color: #000;
}
.logo {
    font-size: 32px;
}
.navbar a {
    color: #000;
    text-decoration: none;
}
.menu {
    display: flex; 
    gap: 1em; 
    border-radius: 1%;
}
.menu li {
    padding: 5px 10px; 
    list-style: none;
}
.menu li:hover {
    background-color: #fff;
    border: solid; 
    border-color: #000;
    border-radius: 5px;
    transition: border 0.2s ease; 
}
/* Welcome */
.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    background-image: 
    linear-gradient(
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url("img/banff.jpeg");
    background-size: 150%; 
    background-position: 50% 60%;
    /* background-color: #fff; */
    padding: 10px;
    border-radius: 1%;
    min-height: 700px;
    border: solid;
    font-size: 5rem; 
    color: #fff; 
}

/* Flex */
.flex {
    display: flex;
    margin: 10px 0;
    border: solid;
}
/* Left container */
.leftSide {
    padding: 10px;
    border-radius: 1%;
    width: 200px; 
}
.leftSide .img {
    border: dashed;
    border-radius: 50%;
    overflow: hidden;
    width: 180px;
}
.leftSide img {
    width: 200px; 
}
.leftSide .text {
    text-align: center;
    color: #000;
}

/* Right container */
.rightSide {
    padding: 10px;
    border-radius: 1%;
}

/* CV */
.cv {
    margin: auto;
    max-width: 600px;
    line-height: 1.5;
    font-size: 20px;
}
.centre {
    text-align: center;
}
.bold {
    font-weight: bold;
}
.cv ul {
    list-style-position: outside;
    padding-left: 20px;
}
.indent {
    padding-left: 10px;
}
.italics {
    font-style: italic;
}
.underline {
    text-decoration: underline; 
}
/* Footer */
.footer {
    display: flex; 
    padding: 10px;
    justify-content: center;
}
.footer .fa {
    font-size: 40px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #000; 
}

.footer .fa:hover {
    color: #385da6; 
    transition: color 0.2s ease; 
}